/*
font-family: 'Poppins', sans-serif;
darkGreen --> #05B37F;
paleGreen --> #D7FEF2;
gray --> #626262;
*/
header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: blanchedalmond;
	padding: 20px;
	font-family: 'Shantell-Sans', sans-serif;
}

nav {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}

nav ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
  background:blanchedalmond;
}

nav li {
	margin-right: 10px;
  background: blanchedalmond;
}

nav .nav-item {
	color: #333;
	text-decoration: none;
	padding: 5px;
}

nav .nav-item:hover {
	background-color: #333;
	color: blanchedalmond;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body{
    background: blanchedalmond;
    display: grid;
    place-items: center;
    height: 100vh;
  }
  
  .container{
    display: grid;
    max-width: 1000px;
    background: white;
    grid-template-columns: repeat(2, minmax(40%,500px));
    grid-template-rows: repeat(2,minmax(300px,50%));
    grid-template-areas:
      "main main"
      "payment reasons";
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 0px 6px 4px 4px black 0.2
  }
  /*START OF MAIN*/
  main{
    grid-area: main;
    padding: 20px;
  }
  .perks{
    width: 70%;
    opacity: 70%;
  }
  .join{
    color:#44af85; 
  }
  /*END OF MAIN*/
  
  /*START OF PAYMENT*/
  .payment{
    background-color: #44af85;
    padding: 90px;
    color: #ffffff;
  }
  .price{
    font-size: 50px;
  }
  .price::after{
    content: "per month";
    font-size: 1.25rem;
    opacity: 0.6;
  }
  .coach{
    color: #363246;
    text-decoration: underline;
  }
  /*END OF PAYMENT*/
  
  /*START OF REASON*/
  .reasons{
    background-color: #7De3BB;
    color: #363246;
    padding: 20px;
  }
  .reasons-header{
    font-size: 25px;
  }
  .reasons-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
  }
  
  /*END OF REASONS*/

  footer {
    display: flex;
    flex-direction: row;
    background-color: #251605;
    font-family: 'Tilt Warp', sans-serif;
    margin-top: 2rem;
  }
  
  footer p {
    color: white;
  }
  
  .footer1{
    padding-left: 0.5rem
  }
  
  .footer2{
    padding-left: 61rem;
  }

  .extra{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  